*
{
	margin:0px;
	padding:0px;
	font-family:arial;
	box-sizing:border-box;
}
.clearfix::after
{
	content:"";
	display:block;
	clear:both;
}

#header
{
	width:100%;
	min-height:50px;
	background-color:black;
}

#brand
{
	width:25%;
	min-height:50px;
	color:white;
	float:left;
	line-height:50px;
}
#nav
{
	width:75%;
	min-height:50px;
	color:white;
	float:right;
	line-height:50px;
}
#nav a
{
	display:inline-block;
	width:16%;
	min-height:50px;
	color:white;
	text-align:center;
	text-decoration:none;
}
#nav a:hover
{
	text-decoration:underline;
}

/* about section*/
#about{

width:100%;
min-height:400px;
background-color:lightgray;
}


#about .inner
{
	width:80%;
	min-height:400px;
	margin:auto;
}
#about .inner #image
{
	width:25%;
	min-height:400px;
	float:left;
	padding-top:70px;
}
#about .inner #image img
{
	display:block;
	width:80%;
	margin:auto;
	border:10px solid white;
	margin-bottom:20px;
}
#about .inner #image p
{
	text-align:center;
	font-size:24px;
	font-family:georgia;
}
#about .inner #bio
{
	width:75%;
	min-height:400px;
	float:right;
	padding-top:60px;
}
#about .inner #bio h2
{
	margin-bottom:20px;
}
#about .inner #bio p
{
	text-align:justify;
	font-size:18px;
	margin-bottom:70px;
}
#about .inner #bio a
{
	display:inline-block;
	width:25%;
	min-height:40px;
	color:white;
	background-color:black;
	text-align:center;
	line-height:40px;
	text-decoration:none;
	border-radius:10px;
}
/Qualification code/

#qualification{
	width:100%;
	min-height:400px;
	background-color:pink;
	padding-top:20px;
}
#qualification h2{
	text-align:center;
	margin-bottom:20px;

}
#qualification table
{
	 width:70%;
	min-height:200px;
	margin:auto;
	text-align:center;
}
#qualification table tr:nth-child(1)
{
	background-color:black;
	color:white;
	text-align:center;
}
#qualification table tr:nth-child(even)
{
	background-color:white;
}

/Skills code starts here/

#skills{
	width:100%;
	min-height:400px;
	background-color:lightgray;
	padding-top:50px;
}
#skills h2{
	text-align:center;
	margin-bottom:50px;

}
#skills table
{
	 width:70%;
	min-height:200px;
	margin:auto;
	text-align:center;
}
#skills table tr:nth-child(1)
{
	background-color:black;
	color:gray;
	text-align:center;
}
#skills table tr:nth-child(even)
{
	background-color:white;
}